table {
  width: 100%;
}

th {
  text-align: center;
}

.material-icons {
  display: inline-block;
  font-size: 24px;
}

.buttons-g {
  width: 20%;
  height: 20%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
